<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="1.5.0.0" />
  <package id="HttpClient" version="0.5.0" />
  <package id="JsonValue" version="0.5.0" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="Rx-Main" version="1.0.10621" />
  <package id="WebApi" version="0.5.0" />
  <package id="WebApi.Enhancements" version="0.5.0" />
</packages>