<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
					<add name="ServiceModelMessageLoggingListener"/>
				</listeners>
			</source>
			<source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
					<add name="ServiceModelTraceListener"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="c:\logs\Web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp"/>
			<add initializeData="c:\logs\Web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="ServiceModelTraceListener" traceOutputOptions="Timestamp"/>
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>
	<system.serviceModel>
		<diagnostics>
			<messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
		</diagnostics>
		<services>
			<service name="SampleRemoteApp.SimpleCommandBusService" behaviorConfiguration="DefaultBehaviorConfig">
				<endpoint address="" binding="wsHttpBinding" contract="Zaz.Remote.Contract.CommandBus"/>
				<!--<endpoint address="" binding="basicHttpBinding" contract="Zaz.Remote.Contract.CommandBus" />-->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehaviorConfig">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<compilation debug="true"/>
	</system.web>
</configuration>
